@using ProjectWeb.Models;
@model List<Cart>
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayoutCart.cshtml";
}

<div class="table-responsive cart_info">
    <table class="table table-condensed">
        <thead>
            <tr class="cart_menu">
                <td class="image">Sản Phẩm</td>
                <td class="description"></td>
                <td class="price">Giá</td>
                <td class="quantity">Số Lượng</td>
                <td class="total">Tổng Tiền</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="cart_product">
                       
                        <a href=""><img style="width:180px;height:200px" src="~/images/@item.sImages" alt=""></a>
                    </td>
                    <td class="cart_description">
                        <h4><a href="">@item.sName</a></h4>
                        <p>Web ID: @item.iMaSP</p>
                    </td>
                    <td class="cart_price">
                        <p>$@item.dPrice</p>
                    </td>
                    <td class="cart_quantity">
                        <div class="cart_quantity_button">
                            <a class="cart_quantity_up" href=""> + </a>
                            <input class="cart_quantity_input" type="number" name="quantity" value="@item.iCount"
                                   autocomplete="off" size="2">
                            <a class="cart_quantity_down" href=""> - </a>
                        </div>
                    </td>
                    <td class="cart_total">
                        <p class="cart_total_price">$@item.dPrice</p>
                    </td>
                    <td class="cart_delete">
                        <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                    </td>
                </tr>
            }


            @*<tr>
                    <td class="cart_product">
                        <a href=""><img src="~/images/cart/two.png" alt=""></a>
                    </td>
                    <td class="cart_description">
                        <h4><a href="">Colorblock Scuba</a></h4>
                        <p>Web ID: 1089772</p>
                    </td>
                    <td class="cart_price">
                        <p>$59</p>
                    </td>
                    <td class="cart_quantity">
                        <div class="cart_quantity_button">
                            <a class="cart_quantity_up" href=""> + </a>
                            <input class="cart_quantity_input" type="text" name="quantity" value="1"
                                   autocomplete="off" size="2">
                            <a class="cart_quantity_down" href=""> - </a>
                        </div>
                    </td>
                    <td class="cart_total">
                        <p class="cart_total_price">$59</p>
                    </td>
                    <td class="cart_delete">
                        <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="cart_product">
                        <a href=""><img src="~/images/cart/three.png" alt=""></a>
                    </td>
                    <td class="cart_description">
                        <h4><a href="">Colorblock Scuba</a></h4>
                        <p>Web ID: 1089772</p>
                    </td>
                    <td class="cart_price">
                        <p>$59</p>
                    </td>
                    <td class="cart_quantity">
                        <div class="cart_quantity_button">
                            <a class="cart_quantity_up" href=""> + </a>
                            <input class="cart_quantity_input" type="text" name="quantity" value="1"
                                   autocomplete="off" size="2">
                            <a class="cart_quantity_down" href=""> - </a>
                        </div>
                    </td>
                    <td class="cart_total">
                        <p class="cart_total_price">$59</p>
                    </td>
                    <td class="cart_delete">
                        <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                    </td>
                </tr>*@
        </tbody>
    </table>
</div>


