@using ProjectWeb.Models
@*﻿<li>
        <a href="@Url.Action("GioHang", "GioHang")" style="color:white; font-weight: initial; text-decoration: none;">
            Giỏ hàng (@ViewBag.TongSoLuong)
        </a>
    </li>*@
<li><a href="~/Cart/Index"><i class="fa fa-shopping-cart"></i> Giỏ Hàng(@ViewBag.TongSoLuong)</a></li>